@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Medium';
    src: url('../font/opensans/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../font/opensans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../font/opensans/OpenSans-Bold.ttf') format('truetype');
}

* {
    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.root {
    -fx-base: #fff;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #27fa;
    -fx-accent: #37e;
    -fx-font-size: 1.05em;
    -fx-font-family: 'Open Sans Medium';
}

.text-field {
    -fx-background-color: #f2f2f2, #f2f2f2;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;
    -fx-padding: 0.35em 0.6em;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, #fff;
    -fx-background-insets: 0, 1;
}

.text-area {
    -fx-padding: 0.3em 0.3em 0.3em 0.6em;
    -fx-background-color: #f2f2f2, #f2f2f2;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.text-area:focused {
    -fx-background-color: -fx-focus-color, #fff;
    -fx-background-insets: 0, 1;
}

.text-area > .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-padding: 0;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.button, .toggle-button {
    -fx-background-color: #ddd, linear-gradient(to bottom, #fff 90%, #fafafa 90%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;
    -fx-padding: 0.35em 0.6em;
    -fx-cursor: hand;
}

.button:default, .toggle-button:default {
    -fx-background-color: -fx-focus-color, linear-gradient(to bottom, #fff 90%, #fafafa 90%);
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5, 3;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: #ccc, linear-gradient(to bottom, #fff 90%, #eee 90%);
}

.button:default:hover, .toggle-button:default:hover {
    -fx-background-color: #ccc, linear-gradient(to bottom, #fff 90%, #eee 90%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 3;
}

.button:pressed, .toggle-button:pressed {
    -fx-background-color: #ddd !important;
    -fx-background-insets: 0;
}

.button:focused, .toggle-button:focused {
    -fx-background-color: -fx-focus-color, linear-gradient(to bottom, #fff 90%, #eee 90%);
}

.button:default:focused, .toggle-button:default:focused {
    -fx-background-color: -fx-focus-color, linear-gradient(to bottom, #fff 90%, #eee 90%);
}

.toggle-button:selected {
    -fx-background-color: #eaeaea !important;
    -fx-background-insets: 0;
}

.button .icon {
    -fx-background-size: 18;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
}

.button .large-icon {
    -fx-background-size: 32;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
}

.toggle-button .icon {
    -fx-background-size: 18;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
}

.check-box {
    -fx-cursor: hand;
}

.check-box .box {
    -fx-background-color: #ddd, linear-gradient(to top, #fff 90%, #fafafa 90%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 1;
    -fx-padding: 0.2em;
}

.check-box:hover .box {
    -fx-background-color: #ccc, linear-gradient(to top, #fff 90%, #eee 90%);
}

.check-box:pressed .box {
    -fx-background-color: #ddd !important;
    -fx-background-insets: 0;
}

.check-box:focused .box {
    -fx-background-color: -fx-focus-color, linear-gradient(to top, #fff 90%, #eee 90%);
}

.check-box .box .mark {
    -fx-max-width: 8;
    -fx-max-height: 12;
    -fx-shape: "M 4.0539211,0.39999023 2.1898374,3.0621777 0.96097255,2.2017173 0.24397156,3.2257007 1.4728365,4.0861611 2.4968199,4.803162 5.0779045,1.1169912 Z";
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: #fff;
}

.split-pane .split-pane-divider .horizontal-grabber {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-width: 0 2 0 0;
    -fx-border-style: segments(0.5, 5) line-cap round;
    -fx-pref-height: 24;
}

.scroll-bar {
    -fx-pref-width: 12;
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .decrement-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.scroll-bar .decrement-button .decrement-arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.scroll-bar .increment-button .increment-arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.scroll-bar .thumb {
    -fx-background-color: transparent, #ddd;
    -fx-background-radius: 3;
    -fx-background-insets: 0, 3;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: transparent, #ccc;
}

.choice-box {
    -fx-background-color: #ddd, linear-gradient(to bottom, #fff 90%, #fafafa 90%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.choice-box:hover {
    -fx-background-color: #ccc, linear-gradient(to bottom, #fff 90%, #eee 90%);
}

.choice-box:pressed {
    -fx-background-color: #eaeaea !important;
    -fx-background-insets: 0;
}

.choice-box:focused {
    -fx-background-color: -fx-focus-color, linear-gradient(to bottom, #fff 90%, #eee 90%);
}

.choice-box .open-button .arrow {
    -fx-pref-width: 10;
    -fx-pref-height: 6;
    -fx-shape: "M 0.5487152,1.215054 0.01851503,1.7457709 2.1046926,3.8319485 2.6348928,4.3621487 3.1650929,3.8319485 5.2512705,1.7457709 4.7210703,1.215054 2.6348928,3.3017483 Z";
}

.tooltip {
    -fx-padding: 0.4em 0.8em;
    -fx-font-size: 1em;
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-text-fill: #222;
    -fx-effect: dropshadow(gaussian, #0002, 4, 0.25, 0, 1);
}

.separator:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0 4;
}

.separator:vertical .line {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #ddd;
}

.context-menu {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-padding: 0.6em 0 0.6em 0;
    -fx-text-fill: #444;
    -fx-effect: dropshadow(gaussian, #0002, 16, 0, 0, 4);
}

.context-menu .menu-item {
    -fx-text-fill: #666;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-padding: 0.2em 1em;
    -fx-font-size: 1.0em;
}

.context-menu .menu-item .label {
    -fx-text-fill: #444;
    -fx-font-size: 1.0em;
}

.context-menu .menu-item:hover {
    -fx-background-color: #eee;
    -fx-text-fill: #666;
}

.context-menu .menu-item:focused {
    -fx-background-color: #eee;
    -fx-text-fill: #666;
}

.context-menu .menu-item:pressed {
    -fx-background-color: #ddd;
    -fx-text-fill: #444;
}

.context-menu > * {
    -fx-border-color: none;
}

.context-menu .separator {
    -fx-padding: 4px;
}

.context-menu .separator > .line {
    -fx-border-color: #eee;
    -fx-border-insets: 0;
    -fx-pref-height: 1;
}

.context-menu .menu-item .left-container * {
    -fx-scale-x: 2.25;
    -fx-scale-y: 2.25;
    -fx-background-color: #666;
    -fx-shape: "M 4.0539211,0.39999023 2.1898374,3.0621777 0.96097255,2.2017173 0.24397156,3.2257007 1.4728365,4.0861611 2.4968199,4.803162 5.0779045,1.1169912 Z";
}

.context-menu .menu-item:hover .left-container * {
    -fx-background-color: #666;
}

.progress-bar {
    -fx-pref-height: 6;
}

.progress-bar .track {
    -fx-background-color: #eee;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.progress-bar .bar {
    -fx-background-color: #00B569;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.scroll-pane {
    -fx-background-color: #fff;
}

.scroll-pane .viewport {
    -fx-background-color: #fff;
}

.icon-round-button {
    -fx-pref-width: 20 !important;
    -fx-pref-height: 20 !important;
    -fx-background-color: transparent, transparent;
    -fx-background-radius: 50% !important;
}

.icon-round-button:hover {
    -fx-background-color: #ccc, #fff;
}

.icon-round-button:pressed {
    -fx-background-color: #ddd !important;
    -fx-background-insets: 0;
}

.icon-round-button:focused {
    -fx-background-color: -fx-focus-color, #fff;
}

.icon-round-button .close-icon {
    -fx-min-width: 8;
    -fx-min-height: 8;
    -fx-pref-width: 8;
    -fx-pref-height: 8;
    -fx-max-width: 8;
    -fx-max-height: 8;
    -fx-background-color: #999;
    -fx-shape: "M 3.332743,0.33932434 2.1166667,1.5554007 0.90059028,0.33932434 0.33932434,0.90059028 1.5554007,2.1166667 0.33932434,3.332743 0.90059028,3.894009 2.1166667,2.6779326 3.332743,3.894009 3.894009,3.332743 2.6779326,2.1166667 3.894009,0.90059028 Z";
}

.link-button {
    -fx-pref-width: 20 !important;
    -fx-pref-height: 20 !important;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.link-button:hover {
    -fx-background-color: transparent !important;
}

.link-button:pressed {
    -fx-background-color: transparent !important;
}

.link-button:focused {
    -fx-background-color: transparent !important;
}

.link-button:hover .link-icon {
    -fx-background-color: #27f;
}

.link-button:pressed .link-icon {
    -fx-background-color: derive(#27f, -25%) !important;
}

.link-button:focused .link-icon {
    -fx-background-color: #27f;
}

.link-button .link-icon {
    -fx-min-width: 14;
    -fx-min-height: 14;
    -fx-pref-width: 14;
    -fx-pref-height: 14;
    -fx-max-width: 14;
    -fx-max-height: 14;
    -fx-background-color: #444;
    -fx-shape: "M 40 10 C 38.896 10 38 10.896 38 12 C 38 13.104 38.896 14 40 14 L 47.171875 14 L 30.585938 30.585938 C 29.804938 31.366938 29.804938 32.633063 30.585938 33.414062 C 30.976938 33.805063 31.488 34 32 34 C 32.512 34 33.023063 33.805062 33.414062 33.414062 L 50 16.828125 L 50 24 C 50 25.104 50.896 26 52 26 C 53.104 26 54 25.104 54 24 L 54 12 C 54 10.896 53.104 10 52 10 L 40 10 z M 18 12 C 14.691 12 12 14.691 12 18 L 12 46 C 12 49.309 14.691 52 18 52 L 46 52 C 49.309 52 52 49.309 52 46 L 52 34 C 52 32.896 51.104 32 50 32 C 48.896 32 48 32.896 48 34 L 48 46 C 48 47.103 47.103 48 46 48 L 18 48 C 16.897 48 16 47.103 16 46 L 16 18 C 16 16.897 16.897 16 18 16 L 30 16 C 31.104 16 32 15.104 32 14 C 32 12.896 31.104 12 30 12 L 18 12 z";
}

.info-icon-svg {
    -fx-background-color: #2daefd;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-shape: "M 8 0 A 8 8 0 0 0 0 8 A 8 8 0 0 0 8 16 A 8 8 0 0 0 16 8 A 8 8 0 0 0 8 0 z M 7 3 L 9 3 L 9 5 L 7 5 L 7 3 z M 6 6 L 9 6 L 9 11 L 10 11 L 10 13 L 7 13 L 7 8 L 6 8 L 6 6 z";
}

.notification {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-max-width: 300;
    -fx-effect: dropshadow(gaussian, #0001, 16, 0, 0, 2);
}

.notification .title {
    -fx-font-size: 1.1em;
    -fx-font-family: "Open Sans SemiBold";
}

.notification .content {
    -fx-font-size: 1em;
    -fx-line-spacing: -2;
}

.notification .hyperlink {
    -fx-font-size: 1em;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.notification .hyperlink:focused {
    -fx-border-width: 0;
}

.notification .hyperlink:visited {
    -fx-text-fill: #a0c;
}

.overlay {
    -fx-background-color: #000c;
}

.message-box {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #0002, 24, 0, 0, 2);
    -fx-min-width: 300;
    -fx-pref-width: 350;
    -fx-padding: 16;
    -fx-spacing: 4;
}

.message-box .content {
    -fx-spacing: 8;
}

.message-box .title {
    -fx-font-size: 1.2em;
    -fx-padding: 0 0 4 0;
    -fx-font-family: "Open Sans SemiBold";
}

.message-box .icon {
    -fx-background-size: 24;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

.message-box .error {
    -fx-background-image: url('../icon/error-32px.png');
}

.message-box .warning {
    -fx-background-image: url('../icon/warning-32px.png');
}

.message-box .info {
    -fx-background-image: url('../icon/info-32px.png');
}

.message-box .question {
    -fx-background-image: url('../icon/question-32px.png');
}

.message-box .content-label {
    -fx-wrap-text: true;
    -fx-line-spacing: -4;
}

.message-box .control-box {
    -fx-spacing: 4;
    -fx-alignment: center;
}

.message-box .control-box .button {
    -fx-min-width: 50;
}

.create-icon {
    -fx-background-image: url('../icon/stack-32px.png');
}

.import-icon {
    -fx-background-image: url('../icon/add-image-32px.png');
}

.pdf-icon {
    -fx-background-image: url('../icon/pdf-32px.png');
}

.remove-icon {
    -fx-background-image: url('../icon/remove-32px.png');
}

.guid-icon {
    -fx-background-image: url('../icon/pen-32px.png');
}

.settings-icon {
    -fx-background-image: url('../icon/wrench-32px.png');
}

.metadata-icon {
    -fx-background-image: url('../icon/metadata-32px.png');
}

.rotate-ccw-icon {
    -fx-background-image: url('../icon/rotate-32px.png');
}

.rotate-cw-icon {
    -fx-background-image: url('../icon/rotate-32px.png');
    -fx-scale-x: -1;
}

.flip-horizontal-icon {
    -fx-background-image: url('../icon/flip-horizontal-32px.png');
}

.flip-vertical-icon {
    -fx-background-image: url('../icon/flip-horizontal-32px.png');
    -fx-rotate: 90deg;
}

.add-icon {
    -fx-background-image: url('../icon/add-image-32px.png');
}

.skip-icon {
    -fx-background-image: url('../icon/go-32px.png');
}

.job {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-padding: 8 10 8 10;
}

.job .status-icon {
    -fx-background-size: 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.job .succeeded {
    -fx-background-image: url('../icon/tick-32px.png');
    -fx-rotate: -5deg;
}

.job .failed {
    -fx-background-image: url('../icon/warning-shield-32px.png');
}

.job .button {
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-padding: 0.4em;
}

.job .progress-bar {
    -fx-pref-height: 2;
    -fx-indeterminate-bar-animation-time: 1.0;
}

.job .progress-bar .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.job .progress-bar .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.tab-container {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #fff;
    -fx-border-width: 0 2 0 0;
}

.tab-button {
    -fx-background-radius: 0;
    -fx-padding: 0.2em 1.2em;
    -fx-rotate: 90deg;
}

.tab-button:selected {
    -fx-background-color: #ddd !important;
}

.jobs-panel {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #0001;
    -fx-border-width: 2 0 2 0;
}

.jobs-panel .content {
    -fx-background-color: #f6f6f6;
}

.repository {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #0001;
    -fx-border-width: 2 0 2 0;
}

.repository .content {
    -fx-background-color: #f6f6f6;
}

.dummy-label {
    -fx-font-size: 1em;
    -fx-text-fill: #999;
}

.thumbnail {
    -fx-background-color: #fff;
    -fx-background-radius: 2;
    -fx-border-color: #fff;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #0002, 2, 0, 0, 1);
}

.thumbnail:selected {
    -fx-border-color: -fx-focus-color;
}

.thumbnail:dragged {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 2;
}

.menu-item .icon {
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.menu-item .remove-icon {
    -fx-background-image: url('../icon/remove-32px.png');
}

.menu-item .select-icon {
    -fx-background-image: url('../icon/select-32px.png');
}

.details-box {
    -fx-background-color: #fff;
    -fx-spacing: 4;
}

.details-box .label {
    -fx-text-fill: #777;
    -fx-background-color: #f4f4f4;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-padding: 0.35em 0.6em;
    -fx-graphic-text-gap: 4;
}

.details-box .page-icon {
    -fx-background-color: #777;
    -fx-pref-width: 11;
    -fx-pref-height: 15;
    -fx-shape: "M 0,0 V 16 H 12 V 5.167286 H 6.9120197 V 0 Z m 8,0 v 4.064436 h 4 z";
}

.details-box .disk-icon {
    -fx-background-color: #777;
    -fx-pref-width: 15;
    -fx-pref-height: 15;
    -fx-shape: "M 2.1166667 0 A 2.1166666 2.1166666 0 0 0 0 2.1166667 A 2.1166666 2.1166666 0 0 0 2.1166667 4.2333333 A 2.1166666 2.1166666 0 0 0 4.2333333 2.1166667 A 2.1166666 2.1166666 0 0 0 2.1166667 0 z M 2.1166667 1.3668416 A 0.75 0.75 0 0 1 2.8664917 2.1166667 A 0.75 0.75 0 0 1 2.1166667 2.8664917 A 0.75 0.75 0 0 1 1.3668416 2.1166667 A 0.75 0.75 0 0 1 2.1166667 1.3668416 z";
}

.image-info {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #0001, 16, 0, 0, 2);
    -fx-padding: 16;
}

.image-info .label {
    -fx-font-size: 0.9em;
}

.image-info .title {
    -fx-font-size: 14;
    -fx-font-family: "Open Sans SemiBold";
}

.image-info .text-field {
    -fx-padding: 2 4;
    -fx-background-radius: 3 2;
    -fx-font-size: 0.9em;
    -fx-text-fill: #666;
}

.image-info .text-field * {
    -fx-font-size: 1.0em;
}

.image-info .button {
    -fx-padding: 0.2em 0.6em;
    -fx-font-size: 0.9em;
}

.image-info .button .icon {
    -fx-background-size: 12;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.about {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #0002, 24, 0, 0, 2);
    -fx-padding: 24;
    -fx-spacing: 16;
}

.about .logo-title {
    -fx-font-size: 2em;
    -fx-font-family: "Open Sans SemiBold";
}

.about .hyperlink {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.about .hyperlink:focused {
    -fx-border-width: 0;
}

.about .hyperlink:visited {
    -fx-text-fill: #a0c;
}

.panel-title {
    -fx-font-size: 1.4em;
    -fx-font-family: 'Open Sans SemiBold';
    -fx-graphic-text-gap: 8;
}

.panel-title .icon {
    -fx-background-size: 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
}

.panel-title .create-icon {
    -fx-background-image: url('../icon/stack-32px.png');
}

.panel-title .welcome-icon {
    -fx-background-image: url('../icon/cursor-32px.png');
}

.panel-title .metadata-icon {
    -fx-background-image: url('../icon/metadata-32px.png');
}

.panel-title .settings-icon {
    -fx-background-image: url('../icon/wrench-32px.png');
}

.menu-button {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-radius: 15, 14;
}

.menu-button .icon {
    -fx-background-image: url('../icon/menu-32px.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
}

.slider .track {
    -fx-background-color: transparent, #e8e8e8;
    -fx-background-insets: 0, 3 0 3 0;
    -fx-background-radius: 0, 2;
    -fx-pref-height: 10;
}

.slider .thumb {
    -fx-background-color: #bbb;
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-effect: null;
}

.slider .thumb:focused {
    -fx-background-color: -fx-focus-color;
}

.slider .thumb:pressed {
    -fx-background-color: -fx-focus-color;
}

.note {
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 5;
    -fx-padding: 0.4em 0.6em 0.4em 2.0em;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top 4 left 4;
    -fx-background-image: url('../icon/lamp-32px.png');
}

.toggle-switch-on {
    -fx-background-color: #00B569;
    -fx-background-radius: 10;
    -fx-padding: 0 0 0 6;
    -fx-text-fill: #fff;
    -fx-font-size: 0.8em;
}

.toggle-switch-off {
    -fx-background-color: #888;
    -fx-background-radius: 10;
    -fx-padding: 0 6 0 0;
    -fx-text-fill: #fff;
    -fx-font-size: 0.8em;
}

.main-menu {
}

.main-menu .menu-item {
    -fx-padding: 0.35em 1.6em;
}